<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="/src/images/logoprzeroczyste.png" alt="Medical Trade Logo">
    </div>
    <div class="footer-links">
      <ul>
        <li><a href="#about-us">About Us</a></li>
        <li><a href="#catalog">Inquiry & Orders</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
    <div class="footer-social">
      <a href="#"><img src="/src/images/facebook.svg" alt="Facebook"></a>
      <a href="#"><img src="/src/images/twitter.svg" alt="Twitter"></a>
      <a href="#"><img src="/src/images/linkedin.svg" alt="LinkedIn"></a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Medical Trade. All rights are reserved by the company.</p>
  </div>
</footer>