<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="src/css/gallery.css">
</head>
<body>
    <section class="gallery">
        <div class="gallery-intro">
            <h2>Welcome to Our Collection</h2>
            <p>Explore the quality of our products.</p>
        </div>

        <div class="gallery-images">
            <img src="src/images/poprawionagaleria.jpg" alt="Product 1">
            <img src="src/images/poprawionagaleria1.jpg" alt="Product 2">
            <img src="src/images/galeria2poprawiona.jpg" alt="Product 3">
            <img src="src/images/galeria3.jpg" alt="Product 4">
            <img src="src/images/galeria4poprawiona.jpg" alt="Product 5">
            <img src="src/images/galeria5.jpg" alt="Product 6">
        </div>
    </section>
</body>
</html>

