<header id="header" class="main-header">
  <div class="logo-section">
      <a href="#" class="logo">
          <img src="src/images/logoprzeroczyste.png" alt="Medical Trade Logo">
      </a>
  </div>
  <div class="header-slider">
      <video autoplay muted loop>
          <source src="src/images/filmiknastrone.mp4" type="video/mp4">
          Your browser does not support the video tag.
      </video>
  </div>
</header>


<nav class="navigation-bar">
  <ul>
      <li><a href="#about-us">HOME</a></li>
      <li><a href="#gallery">GALLERY</a></li>
      <li class="dropdown">
          <a href="#specification" class="specification-link-header">SPECIALIZATIONS</a>
          <div class="dropdown-content">
              <a href="#disposable-equipment">DISPOSABLE EQUIPMENT</a>
              <div class="indicator-bar"></div>
              <a href="#medical-devices">MEDICAL DEVICES</a>
              <div class="indicator-bar"></div>
              <a href="#hospital-development">HOSPITALS DEVELOPMENT</a>
              <div class="indicator-bar"></div>
          </div>
      </li>
      <li><a href="#products">CONTACT
        <img src="src/images/phone-call.svg" alt="Telephone Icon" class="phone-icon">
      </a></li>
  </ul>
</nav>


