<header  id="header" class="main-header">
  <div class="logo-section">
      <a href="#" class="logo">
          <img src="/src/images/logoprzeroczyste.png" alt="Medical Trade Logo">
      </a>
      <div class="header-slider">
          <!-- Tu będą przejścia zdjęć w tle, np. za pomocą JavaScript (dodamy później) -->
      </div>
  </div>
</header>

<nav class="navigation-bar">
  <ul>
      <li><a href="#about-us">HOME</a></li>
      <li><a href="#products">INQUIRY & ORDERS</a></li>
      <li>
        <a href="#contact" class="contact-link">
            CONTACT
            <img src="/src/images/telephone.jpg" alt="Telephone Icon" class="phone-icon">
        </a>
    </li>
  </ul>
</nav>
