<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inquiry & Orders</title>
    <link rel="stylesheet" href="src/css/inquiry_orders.css"> <!-- Łączenie pliku CSS -->
</head>
<body>
    <div id="inquiry-container">
        <div class="inquiry-background">
            <!-- Dodanie bąbelków do tła -->
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>;
        </div>

        <div class="content-wrapper-inquiry">
            <!-- Formularz Inquiry & Orders -->
            <div class="form-container" method="POST" action="send_form.php">
                <h1>Contact</h1>
                <p>We'd be delighted to have you among our valued customers. Please provide your details, and we'll get in touch with you at the earliest opportunity.</p>
                <form id="inquiry-form">
                    <div class="form-group">
                        <img src="src/images/user.svg" alt="User Icon">
                        <input type="text" placeholder="Company name" name="company">
                    </div>
                    <div class="form-group">
                        <img src="src/images/envelope.svg" alt="Envelope Icon">
                        <input type="email" placeholder="Email *" name="email" required>
                    </div>
                    <div class="form-group">
                        <img src="src/images/building.svg" alt="Building Icon">
                        <input type="text" placeholder="City zip code" name="zipcode">
                        <img src="src/images/globe.svg" alt="Globe Icon">
                        <input type="text" placeholder="Country" name="country">
                    </div>
                    <div class="form-group">
                        <img src="src/images/search.svg" alt="Search Icon">
                        <input type="text" placeholder="Product name" name="product">
                    </div>
                    <div class="form-group">
                        <img src="src/images/grid.svg" alt="Grid Icon">
                        <input type="text" placeholder="Reference / code" name="reference">
                    </div>
                    <div class="form-group">
                        <img src="src/images/download.svg" alt="Download Icon">
                        <input type="number" placeholder="Quantity" name="quantity">
                    </div>
                    <div class="form-group">
                        <img src="src/images/truck-side.svg" alt="Truck Icon">
                        <select name="shipping">
                            <option value="">Select</option>
                            <option value="standard">Standard Shipping</option>
                            <option value="express">Express Shipping</option>
                        </select>
                    </div>
                    <div class="form-group message-group">
                        <img src="src/images/envelope.svg" alt="Message Icon">
                        <textarea placeholder="If you have any questions about your order, please feel free to ask. We will respond promptly and with pleasure." name="message" maxlength="1000"></textarea>
                    </div>                    
                    <div class="form-group checkbox-group">
                        <input type="checkbox" name="policy" required>
                        <label> I accept the <a href="privacy_police.html">Privacy Policy</a>.</label>
                    </div>
                    <button type="submit">Send</button>
                </form>
            </div>

            <!-- Sekcja kontaktowa obok formularza -->
            <div class="contact-info">
                <h2>Contact with Us</h2>
                <div class="contact-section">
                    <div class="contact-item">
                        <img src="src/images/home (1).svg" alt="Office Icon">
                        <div>
                            <h3>Office</h3>
                            <p>Phone: <a href="tel:+222500850">+22 250 08 50</a></p>
                        </div>
                    </div>
                    <div class="contact-item">
                        <img src="src/images/envelope (2).svg" alt="Email Icon">
                        <div>
                            <h3>Office Email</h3>
                            <p>Email: <a href="mailto:office@medicaltrade.com">office@medicaltrade.com</a></p>
                        </div>
                    </div>
                    <div class="contact-item">
                        <img src="src/images/settings.svg" alt="Support Icon">
                        <div>
                            <h3>Technical Support</h3>
                            <p>Phone: <a href="tel:+226907070">+22 690 70 70</a></p>
                        </div>
                    </div>
                    <div class="contact-item">
                        <img src="src/images/envelope (2).svg" alt="Support Email Icon">
                        <div>
                            <h3>Support Email</h3>
                            <p>Email: <a href="mailto:support@medicaltrade.com">support@medicaltrade.com</a></p>
                        </div>
                    </div>
                    <div class="contact-item">
                        <img src="src/images/marker.svg" alt="Address Icon">
                        <div>
                            <h3>Address</h3>
                            <p>ul. Komuny Paryskiej 14.
                                <br>41-100, Siemianowice Śląskie<br>Katowice, Poland</p>
                        </div>
                    </div>
                    <div class="contact-item">
                        <img src="src/images/info.svg" alt="Address Icon">
                        <div>
                            <h3>Company Details</h3>
                            <p>NIP: 9461834676<br>REGON: 430785614</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <script src="src/js/inquiry_orders.js"></script>
</body>
</html>
