
<div class="pop-up-container" id="popUpContainer">
    <div class="pop-up">
        <button class="closePopUp" id="closePopUp">X</button>
        <div class="privacy-policy-container">
            <h1 class="policy-title">Polityka Prywatności</h1>
            <div class="policy-content">
        <h2>WSPÓŁDZIAŁANIE Z PRACOWNIKAMI SŁUŻBY ZDROWIA I URZĘDNIKAMI PAŃSTWOWYMI</h2>
        <p>
            Wchodzi w życie z dniem ogłoszenia. Firma Medical Trade Bartosz Jurkowski zobowiązuje się do utrzymywania najwyższych standardów etycznych w wykonywaniu swoich obowiązków biznesowych przy jednoczesnym przestrzeganiu wszystkich obowiązujących przepisów i regulacji. Niniejszy dokument nie ma na celu zastąpienia bardziej szczegółowych zasad, które odnoszą się do standardów postępowania, jeśli mają zastosowanie.
        </p>
        <p>
            Reputacja firmy Medical Trade Bartosz Jurkowski jest ważna. Pracownicy firmy Medical Trade Bartosz Jurkowski nie mogą angażować się w żadne niewłaściwe postępowanie, które mogłoby narazić reputację firmy, jej klienta, lub relacje z osobami trzecimi, a także unikać sytuacji, które mogą wydawać się niestosowne. Nie należy oferować, żądać, płacić ani przyjmować łapówek.
        </p>
        <h2>Podstawowe zasady</h2>
        <h3>1. ZGODNOŚĆ Z PRZEPISAMI PRAWA</h3>
        <p>
            Firma Medical Trade Bartosz Jurkowski będzie prowadzić swoją działalność i sprawy zgodnie ze wszystkimi obowiązującymi przepisami prawa, zasadami i regulacjami oraz zgodnie z Kodeksem postępowania firmy Medical Trade Bartosz Jurkowski oraz zasadami i procedurami leżącymi u jego podstaw.
        </p>
        <h3>2. KONFLIKT INTERESÓW</h3>
        <p>
            Konflikt interesów ma miejsce, gdy prywatny interes danej osoby koliduje lub wydaje się kolidować w jakikolwiek sposób z interesami firmy Medical Trade Bartosz Jurkowski i może również powstać, gdy firma, pracownik, dyrektor lub członek jego rodziny otrzymuje niezasłużone korzyści dzięki stanowisku zajmowanemu w firmie Medical Trade Bartosz Jurkowski. Sytuacje te obejmują między innymi relacje z urzędnikami państwowymi, pracownikami służby zdrowia, organizacjami opieki zdrowotnej, firmami należącymi do lekarzy lub wszelkie inne sytuacje, w których może się wydawać, że na decyzje firmy mogą mieć wpływ osobiste interesy lub relacje. Należy unikać konfliktu lub pozorów konfliktu między osobistymi interesami, oficjalnymi obowiązkami a interesami firmy. Należy zgłosić każdy potencjalny konflikt interesów.
        </p>
        <h3>3. UCZCIWE POSTĘPOWANIE</h3>
        <p>
            Wszyscy pracownicy będą postępować z klientami, dostawcami, konkurentami i niezależnymi audytorami firmy Medical Trade Bartosz Jurkowski w uczciwy i przejrzysty sposób i nie będą wykorzystywać nikogo w nieuczciwy sposób poprzez manipulację, ukrywanie, nadużywanie poufnych informacji lub fałszywe przedstawianie faktów. Należy unikać nawet wrażenia zachowania niezgodnego z prawem, w tym niewłaściwego ujawniania cen, kosztów, produkcji, produktów i usług, praktyk przetargowych, innych niepublicznych spraw biznesowych oraz obszarów sprzedaży. Przetargi wymagają przejrzystego, uczciwego i równego procesu przetargowego. Firma Medical Trade Bartosz Jurkowski nie może współpracować z zamawiającym przy tworzeniu lub interpretacji materiałów przetargowych lub dokumentacji w sposób, który mógłby naruszyć rzetelność tego procesu.
        </p>
        <h3>4. DZIAŁALNOŚĆ PROMOCYJNA, MARKETING I SPRZEDAŻ</h3>
        <p>
            Firma Medical Trade Bartosz Jurkowski będzie dokładnie przedstawiać swoje produkty i usługi oraz będzie przestrzegać obowiązujących przepisów i wymogów prawnych, w tym obowiązujących kodeksów branżowych, regulujących marketing i sprzedaż produktów i usług.
        </p>
        <h3>5. REJESTROWANIE I ZGŁASZANIE INFORMACJI</h3>
        <p>
            Firma Medical Trade Bartosz Jurkowski będzie rejestrować i zgłaszać wszystkie informacje kompletnie i dokładnie w księgach, rejestrach i rachunkach w sposób terminowy i z odpowiednimi szczegółami.
        </p>
        <h3>6. NIEWŁAŚCIWE PŁATNOŚCI</h3>
        <p>
            Niewłaściwe płatności oznaczają płatności niezgodne z prawem lub mające na celu korupcję. Płatności w gotówce, w naturze lub w jakiejkolwiek wartości na rzecz urzędników państwowych w celu uzyskania niewłaściwej przewagi biznesowej są uważane za niewłaściwe płatności i są zabronione. Niewłaściwe płatności mogą być również płatnościami o niskiej wartości, które mają na celu przyspieszenie lub ułatwienie rutynowych procesów biurokratycznych.
        </p>
        <h3>7. WSPÓŁDZIAŁANIE Z PRACOWNIKAMI SŁUŻBY ZDROWIA I URZĘDNIKAMI PAŃSTWOWYMI</h3>
        <p>
            W każdym przypadku, gdy relacje z urzędnikami państwowymi lub pracownikami służby zdrowia (Healthcare Professionals, HCP) obejmują płatności, posiłki, podróże lub jakiekolwiek inne świadczenia na rzecz pracownika służby zdrowia, firma Medical Trade Bartosz Jurkowski zapewni, że świadczenia te są zgodne z prawem zgodnie ze wszystkimi obowiązującymi przepisami i regulacjami, poparte uzasadnioną i udokumentowaną potrzebą biznesową i dozwolone na mocy pisemnej umowy. Wszelkie relacje z HCP/urzędnikami państwowymi muszą być poparte uzasadnioną, jasno określoną potrzebą biznesową i dozwolone. Firma Medical Trade Bartosz Jurkowski może angażować wyłącznie HCP/urzędników państwowych, których wiedza i doświadczenie są odpowiednie do potrzeb biznesowych. Wszelkie relacje finansowe z HCP/urzędnikami państwowymi muszą być zgodne z odpowiednimi umowami, a rekompensata za te relacje musi być odpowiednia dla rynku lokalnego.
        </p>
        <h2>ZGODNOŚĆ</h2>
        <h3>1. ROLE I OBOWIĄZKI</h3>
        <p>
            Obowiązkiem każdego pracownika jest zrozumienie i przestrzeganie Kodeksu postępowania oraz zgłaszanie wszelkich potencjalnych naruszeń polityki lub prawa, w tym naruszeń zgłaszanych przez strony trzecie.
        </p>
        <h3>2. KOMUNIKACJA I SZKOLENIA</h3>
        <p>
            Właściciele, członkowie kierownictwa, dyrektorzy i menedżerowie muszą przekazać Kodeks postępowania, aby zapewnić, że wszyscy pracownicy i odpowiedni partnerzy biznesowi rozumieją i przestrzegają zawartych w nim zasad. Każdy pracownik zostanie odpowiednio przeszkolony, a nowi pracownicy zostaną przeszkoleni po zatrudnieniu. Pracownicy będą musieli potwierdzić na piśmie, że rozumieją i przestrzegają tych zasad oraz będą zgłaszać wszelkie naruszenia, na które zwrócą uwagę.
        </p>
        <h3>3. ZGŁASZANIE</h3>
        <p>
            Wszelkie naruszenia Kodeksu postępowania należy niezwłocznie zgłaszać do Bartosz Jurkowskiego. Zgłoszenia mogą być anonimowe, jeśli zezwala na to lokalne prawo i nie będą podlegać żadnemu odwetowi. Nieprzestrzeganie Kodeksu postępowania może skutkować postępowaniem dyscyplinarnym zgodnie z polityką firmy Medical Trade Bartosz Jurkowski, włącznie z rozwiązaniem stosunku pracy lub umowy o współpracy w stosownych przypadkach.
        </p>
        </div>
    </div>
</div>
</div>
    <script src="/src/js/inquiry_orders.js"></script>
