/* Stylizacja głównego nagłówka */
.main-header {
    background: none; /* Usunięcie kolorów tła */
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
}

/* Dodanie animowanych bąbelków w tle */
.main-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    z-index: 0;
    pointer-events: none; /* Uniemożliwienie interakcji z animacją */
}

/* Dodanie unoszących się bąbelków */
.main-header .bubble {
    position: absolute;
    bottom: -100px;
    width: 40px;
    height: 40px;
    border: 2px solid rgba(173, 216, 230, 0.5); /* Niebieskawe obramowanie */
    border-radius: 50%;
    animation: floatBubbles 20s linear infinite;
    pointer-events: none;
}

/* Generowanie kilku bąbelków */
.main-header .bubble:nth-child(2) {
    left: 20%;
    width: 30px;
    height: 30px;
    animation-duration: 25s;
    animation-delay: 5s;
}

.main-header .bubble:nth-child(3) {
    left: 50%;
    width: 50px;
    height: 50px;
    animation-duration: 30s;
    animation-delay: 10s;
}

.main-header .bubble:nth-child(4) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-duration: 15s;
    animation-delay: 3s;
}

/* Definicja kluczowych klatek dla animacji unoszących się bąbelków */
@keyframes floatBubbles {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-1200px);
    }
}

.main-header .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.main-header .logo img {
    height: 80px; /* Ustalona wysokość logo */
    width: auto; /* Zachowaj proporcje */
}

.main-header .navigation ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.main-header .navigation a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.main-header .navigation a:hover {
    color: #007bff;
}

/* Stylizacja dla wersji responsywnej */
@media screen and (max-width: 768px) {
    .main-header .container {
        flex-direction: column;
        align-items: center;
    }

    .main-header .navigation ul {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }
}
