.pop-up-container {
    display: none; /* Ukryty na początku */
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7); /* Przezroczyste tło */
    color: #ffffff;
    z-index: 999; /* Na wierzchu */
}

.pop-up {
    width: 500px; /* Szerokość pop-upu */
    padding: 20px; /* Padding */
    border-radius: 10px; /* Zaokrąglone rogi */
    background-color: #111; /* Kolor tła */
    margin: auto; /* Centrowanie */
    position: relative; 
    top: 50%;
    transform: translateY(-50%); /* Centrowanie */
}

.closePopUp {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none; /* Bez tła */
    border: none; /* Bez obramowania */
    color: white; /* Kolor tekstu */
    font-size: 20px; /* Rozmiar czcionki */
    cursor: pointer; /* Kursor jako wskaźnik */
}
