body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300; /* Lekka waga */
}

.logo-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300; /* Lżejsza waga dla subtelniejszego wyglądu */
}
body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-content {
    width: 100%;
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

.fade-in {
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
